<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dev" class="org.example.model.Dev" autowire="no">
    </bean>

    <bean id="com" class="org.example.impl.Jvm" >
    </bean>

    <bean id="cal" class="org.example.impl.CalculatorProgram" primary="true">

    </bean>

<!--    <bean id="com1" class="org.example.sample.Program">-->

<!--    </bean>-->
</beans>